<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Project</title>
    <!-- <script src="spotify_project.js"></script> -->

 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
 integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
 crossorigin="" />

<!-- Leaflet JavaScript code -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
 crossorigin=""></script>

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
<h1><strong>The Danceability Hillbilly is on the Move!</strong></h1>
<div class="row">
    <div class="col-md-2">
      <div class="well">
        <h2>Country</h2>
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
      </div>

<!-- The div where we'll insert our map -->
    <div id="map"></div>

<!-- Javascript file -->
    <script type="text/javascript" src="spotify_project.js"></script>
</body>

</html>